<h5>Please upload log file!!!</h5>
<%= form_tag({:action => :run}, multipart: true) do %>
  <span class="btn btn-small btn-primary btn-inverse">
    <%= file_field_tag :file %>
    <%= submit_tag( "Submit file" ) %>
  </span>
<% end %>
