<div class="result">
  <h1>Foot Traffic Analysis Report <%= link_to 'Back', root_path, class: "btn btn-lg btn-primary" %> </h1>
  <div class="output">
    <ul>
      <% @output.each do |u| %>
        <li> <%= u %> </li>
      <% end %>
    </ul>
  </div>
<div>
